<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ovy2html -->
      <package
            uri="http://www.example.org/ovy2html"
            class="groupx-m2t-html.ovy2html.Ovy2htmlPackage"
            genModel="model/ovy2html.genmodel"/>
   </extension>

</plugin>
